

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(136,235,165,1) 35%, rgba(0,212,255,1) 100%);
    width: 99vw;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 0 30px;
}

@keyframes dropIn {
    0%{background-color: rgb(0, 255, 255); color: black;}    
    100%{background-color: #071A52; color: white;}
}



.log-out-button{
    margin-right: 20px;
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    background-color: #086972;
    color: #071A52;
    text-shadow: 1px 1px 5px black;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(0, 255, 0);
    transition: 0.3s ease-in-out;
}

.log-out-button:hover{
    background-color:  #071A52;
    color: #086972;
}

.log-out-button svg {
    width: 35px;
}
